<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresenceSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PresenceSimulator.Properties.Settings>
            <setting name="BroadcastPort" serializeAs="String">
                <value>9123</value>
            </setting>
            <setting name="updateProviderPort" serializeAs="String">
                <value>9125</value>
            </setting>
            <setting name="BroadcastPeriod" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="TCPServerPeriod" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="statusProviderPort" serializeAs="String">
                <value>9124</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userTrackFolder" serializeAs="String">
                <value>tracks\</value>
            </setting>
            <setting name="locationUpdateInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RecordUserTracks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetworkServerActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BroadcastLocationSources" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapZoomLvl" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MapOpacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MapBearing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapLat" serializeAs="String">
                <value>51.4580686</value>
            </setting>
            <setting name="MapLng" serializeAs="String">
                <value>7.01476143</value>
            </setting>
            <setting name="VideoBrightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoContrast" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoSaturation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QRCodePaperFormat" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="VideoSourceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarkerBasedDetectorOriginalImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkerBasedDetectorEdgeImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkerBasedDetectorThresholdedImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkerBasedDetectorDrawMarkersOnVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkerBasedDetectorThreshold" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MarkerBasedDetectorMinMarkerSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MarkerBasedDetectorMaxMarkerSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SelectedDetectorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorBasedDetectorShowColorImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorBasedDetectorDrawBoundingBoxed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorBasedDetectorColorTolerance" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ColorBasedDetectorMinObjectSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ColorBasedDetectorMaxObjectSize" serializeAs="String">
                <value>200</value>
            </setting>
        </PresenceSimulator.Properties.Settings>
    </userSettings>
</configuration>